<li id="micropost-<%= micropost.id %>">
    <%= link_to gravatar_for(micropost.user, size: 50),micropost.user %>
    <span class="user"><%= link_to micropost.user.name,micropost.user %></span>
    <span class="content"><%= micropost.content %>
        <%= image_tag micropost.image if micropost.image.attached?%>
    </span>
    <span class="timestamp">Posted <%= time_ago_in_words(micropost.created_at) %> ago.</span>
    <span data-toggle="collapse" data-target="#collapse-<%= micropost.id %>" aria-expanded="false" aria-controls="collapseExample">Comment <%= micropost.comments.count %></span>
    <% if current_user?(micropost.user) %>
        <%= link_to "delete", micropost, method: :delete, data: { confirm: "You sure?" } %>
    <% end %>
   
    <div class="collapse" id="collapse-<%= micropost.id %>" class="col-md-8">
        <section class="micropost_form">
            <%= render 'shared/comment_form',micropost_id: micropost.id %>
        </section>
        <br>
        <% if micropost.comments.any? %>
            <h5>Comments (<%= micropost.comments.count %>)</h5>
            <ol class="comments">
                <%  micropost.comments.each do |comment| %>
                <li id="comment-<%= comment.id %>">
                    <%= link_to gravatar_for(comment.user, size: 50),comment.user %>
                    <span class="user"><%= link_to comment.user.name,comment.user %></span>
                    <span class="user"><%= comment.content %></span>
                    <span class="timestamp">Posted <%= time_ago_in_words(comment.created_at) %> ago.</span>
                </li>
                <% if current_user?(comment.user) %>
                    <%= link_to "delete", comment, method: :delete, data: { confirm: "You sure?" } %>
                <% end %>
                <% end %>
            </ol>
      <% end %>
    </div>
</li>
    